.channels {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.channels__channel {
}

.channels__item {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border: 0;
}

.channels__image {
  aspect-ratio: 1;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.channels__name {
  color: #ddd;
}
